.friends-info {
  display: grid;
}
.my-info{
    padding: 0px 10px;
}
.app-wrapper {
  width: 400px;
  height: 380px;
  margin: auto;
}
.app-wrapper-header {
  height: 50px;
  background: #4a76a8;
  color: white;
  text-align: center;
}
.app-wrapper-body {
  display: flex;
  flex-direction: column;
  background: #edeef0;
  height: inherit;
  justify-content: center;
}
button {
  height: 50px;
  width: 100px;
  align-self: center;
}
h5 {
  font-size: 24px;
  padding: 12px 0px 0px 0px;
}
hr{
    width: 95%;
}
.friends-item{
    display: flex;
    align-items: center;
    padding: 5px;
}
img{
    padding: 0 5px;
    border-radius: 30%;
}