.friends-info {
  display: grid;
  margin: 7px;
}
.my-info {
  display: flex;
  align-items: center;
  margin: 14px;
  padding: 7px;
  background: #e5ebf1;
}
.app-wrapper {
  width: 400px;
  height: 380px;
  margin: auto;
}
.app-wrapper-header {
  height: 50px;
  background: #4a76a8;
  color: white;
  text-align: center;
}
.app-wrapper-body {
  display: flex;
  flex-direction: column;
  background: white;
  height: inherit;
  justify-content: center;
  height: auto;
  font-size: 18px;
}
button {
  width: 100px;
  height: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: Roboto, serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5181b8;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
}
h5 {
  font-size: 24px;
  padding: 12px 0px 0px 0px;
  font-weight: 400;
}
hr {
  width: 95%;
  margin: 0px auto;
}
.friends-item {
  display: flex;
  align-items: center;
  margin: 7px;
  padding: 7px;
  background: #e5ebf1;
}
img {
  padding: 0 15px;
  border-radius: 50%;
}
.button-container {
  align-self: center;
  margin: 30px;
}
